<div class="clogin">

    <!-- <h1 class="logologin"><img src="img/G.jpeg"></h1> -->

    <!-- <div class="loginform"></div> -->
    <form class="form-group form-signin" action="/signup" method="post">
      <img class="mb-4 glogo" src="/styles/graphyLogo.png" alt="logo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal centersignin">Create account</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-warning btn-lg btn-primary btn-block" type="submit">Signup</button>
      <p class="mt-5 mb-3 text-muted">Have an account? <a href="/signin">Signin</a></p>
    </form>
    <!-- </div> -->


    <!-- edit after project is done -->
    <!-- <div class="video-container">
      <video autoplay loop muted>
        <source src="img/stockvideo1080.mp4" type="video/mp4">
      </video>
    </div> -->
  </div>