body {
  min-height: 75rem;
  padding-top: 3.0rem;
}

.list-group-item {
  line-height: 2.5;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  /* position: fixed; */
  width: 100%;
  left: 0;
  bottom: 0;
}

.jumbotron {
  height: 50%;
}

